venv/
.env
.session
__pycache__/
*.pyc
.vscode/
.idea/
PartidasBase
Informacoes
*.xlsx
*.sql
*.zip
*.docx
*.pdf
docs/DFD
docs/diagramas_de_sequencia/*.mmd
docs/Fluxo Geral
.log
*.csv
*.egg-info
docs/manual_staff.md